body, p ,button {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

form label {
    font-size: 15px;
    color: #27406e;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.form-container {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: linear-gradient(90deg, rgb(128 128 149) 0%, rgb(213 150 95) 40%);
    padding-top: 80px;
}

.form-container .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    padding-bottom: 85px;
    width: 80%;
    color: #eef4ff
}

.form-container .text .main-text {
    width: 850px;
    padding-bottom: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-rows:    repeat(3, 60px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    padding: 15px 100% 15px 45px;
    background: linear-gradient(90deg, rgb(148 148 175) 0%, rgb(249 172 104) 25%);
}

.form-container .button {
    padding-top: 35px;
    padding-left: 45px;
}

.form-container button {
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2b3608;
    background-color: #b8cd7a;
}

.form-container .button-subtext {
    font-size: 16px;
    color: #eef4ff;
}

.img-container {
    flex: 1 1 0;
    max-height: inherit;
    position: relative;
}

.img-container p {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    bottom: 1vh;
    font-size: 2vh;
    color: #edb650;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration-thickness: 1px;
    font-size: 2.5vh;
    color: #eacc50;
}