body, p ,button {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

form label {
    font-size: 15px;
    color: #27406e;
    margin-bottom: 4px;
}

.container {
    display: flex;
    height: 100vh;
    overflow: auto;
}

.form-container {
    flex: 2 2 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: linear-gradient(90deg, rgb(128 128 149) 0%, rgb(213 150 95) 40%);
    padding-top: 80px;
}

.form-container .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    padding-bottom: 85px;
    width: 80%;
    color: #eef4ff;
}

.form-container .text .main-text {
    width: 850px;
    padding-bottom: 25px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: grid;
    grid-template-rows:    repeat(3, 60px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    padding: 15px 100% 15px 45px;
    background: linear-gradient(90deg, rgb(148 148 175) 0%, rgb(249 172 104) 25%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.form-container .button {
    padding-top: 35px;
    padding-left: 45px;
}

.form-container button {
    width: 210px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ebdbe5;
    background-color: #506c97;
    border: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35);
}

.form-container .button-subtext {
    font-size: 16px;
    color: #eef4ff;
}

.form-container .button-subtext span {
    color: rgb(80 108 151);
}

.img-container {
    flex: 1 1 0;
    max-height: inherit;
    position: relative;
}

.img-container p {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    bottom: 1vh;
    font-size: 2vh;
    color: #edb650;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration-thickness: 1px;
    font-size: 2.5vh;
    color: #eacc50;
}

input {
    color: #061c3e;
    background-color: #ebdbe5;
    border: 2px solid #506c97;
    border-radius: 2px;
    padding: 3px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px #506c97b6;
}

input:invalid {
    color: #e55555;
    border: 2px solid #e55555;
    box-shadow: 0 0 5px rgb(225 83 83 / 75%);
}

/* input:required {
    box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.5);
} */